<!-- Note: following wikidot-like conventions because I'm relatively sure some themes override this -->
<div class="collapsible-block">
  <div class="collapsible-block-folded">
    <a class="collapsible-block-link">{{ uncollapse_text }}</a>
  </div>
  <div class="collapsible-block-unfolded vanished">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link {{ top_collapse_visible }}">{{ collapse_text }}</a>
    </div>
    
    <div class="collapsible-content">
      {{ content }}
    </div>

    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link {{ bottom_collapse_visible }}">{{ collapse_text }}</a>
    </div>
  </div>
</div>
