<span class="equation-number">({{ equation_number }})</span>
<div id="equation-{{ equation_number }}" class="math-equation">
  <!-- note: below text needs to be escaped properly -->
  <div id="latex-container" style="display: none;">{{ equation_latex }}</div> 
</div>
