<b>This is a test</b><br />
<i>This is a test</i>

<div class="collapsible-block">
  <div class="collapsible-block-folded">
    <a class="collapsible-block-link">hello there</a>
  </div>
  <div class="collapsible-block-unfolded vanished">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link">jahseh_moment</a>
    </div>

    <div class="collapsible-content">
      bruhmoment

<div class="page-rate-widget-box"><span class="rating">rating: +7</span><span class="rateup btn btn-default"><a title="Upvote">+</a></span><span class="ratedown btn btn-default"><a title="Downvote">-</a></span><span class="cancel btn btn-default"><a title="Cancel Vote">x</a></span></div></div></div></div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="tabview">
  <ul class="tab-selectors">
<li class="tab-selector">
  <a>Tab Number One</a>
</li>
<li class="tab-selector">
  <a>Bruh Moment</a>
</li>
  </ul>
  <div class="tab-container">
<div class="tab-content">
  does it work?
</div>
<div class="tab-content">
  this is cool
</div>
  </div>
</div>

