<div class="page-rate-widget-box"><span class="rating">rating: {{ rating }}</span><span class="rateup btn btn-default"><a title="Upvote">+</a></span><span class="ratedown btn btn-default"><a title="Downvote">-</a></span><span class="cancel btn btn-default"><a title="Cancel Vote">x</a></span></div>
