<ul>
<li>
<a href="javascript:;">Literally nothing</a>
<ul>
<li><a>Bruh</a></li>
<li><a>Moment</a></li>
</ul>
</li>

<li>
<a href="javascript:;">Hello there!</a>
<ul>
<li><a>General Kenobi</a></li>
<li><a>You're a bold one</a></li>
</ul>
</li>
</ul>
